
.items-phone{
    display: none;
}
.file-group {
	position:relative;
}
.tooltips:before {
	content: '';
	position:absolute;
	top:70px;
	left:20px;
	border:8px solid transparent;
	border-top:12px solid red;
}
.tooltips {
	background-color:red;
	color:white;
	font-size:0.8em;
	border-radius: 0.9em;
    padding:10px;
    display: none;
	
	
}
.file-group-phone {
	position:relative;
}
.tooltips-phone:before {
	content: '';
	position:absolute;
	top:70px;
	left:120px;
	border:12px solid transparent;
	border-top:12px solid red;
}
.tooltips-phone {
	background-color:red;
	color:white;
	font-size:0.8em;
	border-radius: 0.9em;
    padding:10px;
    display: none;
}
.item-index-button{
	margin: 0;
	width: 28%;
	margin-right: 2%;
}
.item-index-process-button{
	margin: 0;
	width: 35%;
	margin-right: 2%;
}
.item-pagination-aria{
	list-style: none;
	width: 100%;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: -1%;
	
}
.item-pagination-aria nav{
	margin-top: 2%;
	margin-left: -1%;
}


/**************************スマートフォン***********************************************************************************************/
@media screen and (max-width:767px){
    .items-phone{
        display: block;
    }
    .items-pc{
        display: none;
	}
	.pagination-phone-area nav{
		width: 100%;
		display: block;
		margin-top: 3%;
		margin-bottom: -7%;
	}
}