// Place all the styles related to the employee::product_multiples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.employee-product-multiple-phone{
    display: none;
}
/**************************スマートフォン***********************************************************************************************/
@media screen and (max-width:767px){
    .employee-product-multiple-phone{
        display: block;
    }
    .employee-product-multiple-pc{
        display: none;
    }
   
    
}