// Place all the styles related to the employee::sales_managements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sales-management-phone{
    display: none;
}


/**************************スマートフォン***********************************************************************************************/
@media screen and (max-width:767px){
    .sales-management-phone{
        display: block;
    }
    .sales-management-pc{
        display: none;
    }
    
    
}