<% provide(:title, "top") %>
<div class="top_page">

  <!-- pcの場合-->
  <div class="top_show_pc">
    <%= render 'top/PC/show' %>
  </div>

  <!-- phoneの場合-->
  <div class="top_show_phone">
    <%= render 'top/Phone/show' %>
  </div>

</div>
