<%= provide(:title, '商品複数登録') %>

<div class="text-center font-weight-bold mb-3">
    <h1>商品複数登録</h1>
</div>
 <!-- pcの場合-->
<div class="employee-product-multiple-pc">
 <%= render 'employee/product_multiples/PC/new'  %>
</div>

<!-- phoneの場合-->
<div class="employee-product-multiple-phone bg-light">
 <%= render 'employee/product_multiples/Phone/new'  %>
</div>
