<div class="loginpage">
  
  <!-- pcの場合-->
  <div class="sessions-pc">
    <h1 class="center">ログイン</h1>
    <%= render 'sessions/PC/new' %>
  </div>

  <!-- phoneの場合-->
  <div class="sessions-phone">
    <h2 class="center">ログイン</h2>
    <%= render 'sessions/Phone/new' %>
  </div> 
</div>
