<div class="loginpage">
  <h1 class="center">ログイン</h1>

  <!-- pcの場合-->
  <div class="sessions-pc">
    <%= render 'sessions/PC/new' %>
  </div>

  <!-- phoneの場合-->
  <%
=begin%>
 <div class="sessions-phone">
    <%= render 'sessions/Phone/new' %>
  </div> 
<%
=end%>
</div>