// Place all the styles related to the customer::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* ユーザー情報テーブル */

//*****ヘッダー*****//

.customer_header{
  margin: auto;
  width: 90%;
  #logo{
    color: #ffffff;
    font-weight: 900;
    font-size: x-large;
  }
  a{
    color: #fff;
    text-decoration: none;
  }
  li{
    display: inline;
    padding-right:10px;
  }
  #responsiveMenu{
    float: right;
  }
  .navbar-toggler{
    float: right;
  }
  .navbar-nav{
    float: right;
    font-size: large;
    margin-top: 5px;
    a{
      padding: 10px; 
    }
  }
  @media screen and (max-width:767px){
    #responsiveMenu{
      float: left;
      clear: both;
    }
  }

  /* トグルボタンを白色に変更する */
  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='3' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}


/**************************新規登録（new)画面***************************/
//*********スマホ切替対応*********//
.signup-phone{
  display: none;
}  
@media screen and (max-width:767px){
  .signup-pc{
    display: none;
  }
  .signup-phone{
    display: block;
    .newform{
      margin: 10px;
    }
    .center{
      padding: auto;
      .btn{
        display: block;
        width: 90%;
        margin-top: 10px;
        margin-left: 12px;
      }
    }
  }
} 
//******************************//
.new_signup{
  margin: auto;
  .newform{
    padding: 40px;
    background-color: #e6e6fa;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);

    form{
      margin-left: 0px;
      margin-top: -10px;
    }
    label{
      margin-bottom: 0px;
      margin-top: 15px;
      font-weight: bold;
    }
    .btn{
      margin-right: 20px;
    }
  }
  .center{
    margin: 20px 10px 10px 10px;
    text-align: center;
  }
  h1{
    margin-top: 10px;
    font-weight: bold;
  }
  input::placeholder {
    color: #dcdcdc;
  }
}


//******************************ユーザー情報変更(customer, employee)******************************//
//*********スマホ切替対応*********//
.userinfo_edit_phone{
  display: none;
}  

@media screen and (max-width:767px){
  .userinfo_edit_pc{
    display: none;
  }
  .userinfo_edit_phone{
    display: block;
    .center_btn{
      text-align: center;
      margin: 20px 0px 0px 20px;
    }
  }
} 
//********************************//
.user_info_edit, .employee_info_edit{
  margin: auto;
  .editform{
    padding: 40px;
    background-color: #e6e6fa;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);

    form{
      margin-left: 0px;
      margin-top: -10px;
    }
    label{
      margin-bottom: 0px;
      margin-top: 15px;
      font-weight: bold;
    }
    .btn{
      margin-right: 20px;
    }
  }
  .center{
    margin: 10px;
    text-align: center;
  }
  h1{
    margin-top: 10px;
    font-weight: bold;
  }
  input::placeholder {
    color: #dcdcdc;
  }
}

.signin_check{
  .error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
    .alert-danger {
      border-color: #ee82ee;
      background-color: #ee82ee;
    }
  }

  .field_with_errors { 
    .form-control {
      @extend.is-invalid;
      input:irequired{
        border: solid 1px red;
      }
    }
  }
}

//*****ユーザー情報ページ(customer, employee)*****//
//*********スマホ切替対応*********//
.infoshow-phone{
  display: none;
}  

@media screen and (max-width:767px){
  .infoshow-pc{
    display: none;
  }
  .infoshow-phone{
    display: block;
    .info_detail{
      font-size: 12px;
    }
  }
} 
//****************************//
.customer_showpage, .employee_showpage{
  margin: auto;
  .user_info{
    margin-top: 20px;
    padding: 20px;
    background-color: #e6e6fa;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5); 
    .info_detail{
      margin-top: 10px;
      width: 100%;
      background-color: #ffffff;
      box-shadow: 5px 5px #778899; 
      tr,td{
        border: 2px double #f5f5f5;
      }
    }
      .btn{
        margin-top:20px;
      }
    }
  }
  .current_orders{
    // margin-top: 20px;
    // padding: 20px;
    // background-color: #e6e6fa;
    // box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);

    margin-top: 80px;
    margin-bottom: 100px;

  }

  .current_orders_table td{
    text-align: center;
    vertical-align: middle;
  }

  .history_orders{
    // margin-top: 20px;
    // padding: 20px;
    // background-color: #e6e6fa;
    // box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);   
    
    margin-bottom:100px;

    .card_body_history_orders {
      padding: 0px;
      border-radius: 0;
      border-left: none;
      border-right: none;
      border-bottom: none;
    }
    .btn-link {
      text-decoration: none;
    }
    .table-noborder td {
      border-top: 0px !important;
      border-bottom: 0px !important;
      padding-top: 0px;
      padding-bottom: 0px;
    }
    .table-noborder {
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      font-size: 14px;
    }
    .table-witdh-change {
      width: 100%;
    }
    .finished-order-table {
      margin-top: 40px;
      margin-bottom: 40px;
      padding-bottom: 0px;
    }

  }

  

  .center{
    text-align: center;
}
