<header class="navbar navbar-fixed-top navbar-inverse bg-dark">
  <div class="container">
    <%= link_to "お魚屋さん", top_show_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log in", login_path %></li>
      </ul>
    </nav>
  </div>
</header>