<header class="navbar navbar-fixed-top navbar-inverse bg-dark">
  <div class="container"> 
    <div class="customer_header">
      <%= link_to "お魚屋さん", top_show_path, id: "logo" %>
    </div>
    <nav>
      <div class="customer_header">
        <ul class="nav navbar-nav text-white navbar-right">
          <li><%= link_to "ログイン", login_path %></li>
        </ul>
      </div>
    </nav>
  </div>
</header>