 <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div style="margin-left:40%">
          <h5 class="modal-title ml-2" id="label1">
            test
          </h5>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!--body -->
      <div class="modal-body">
     
      </div>
      
    </div>
  </div>