<%= provide(:title, '商品詳細') %>

<div class="text-center font-weight-bold mb-3">
    <h1>商品詳細</h1>
</div>
 <!-- pcの場合-->
<div class="baskets-pc">
 <%= render 'customer/baskets/PC/show', { user: @user } %>
</div>

<!-- phoneの場合-->
<div class="baskets-phone">
 <%= render 'customer/baskets/Phone/show', { user: @user } %>
</div>
