<% provide(:title, "編集ページ") %>
<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '更新') %>

<div class="user_info_edit">

  <div class="userinfo_edit_pc">
    <%= render 'customer/users/PC/edit' %>
  </div>
  <div class="userinfo_edit_phone">
    <%= render 'customer/users/Phone/edit' %>
  </div>

</div>