<% provide(:title, 'Sign up') %>
<% provide(:class_text, 'signup') %>
<% provide(:button_text, '新規作成') %>

<div class="new_signup">
  <h1 class="center">新規登録</h1>

  <!-- pcの場合-->
  <div class="signup-pc">
    <%= render 'customer/users/PC/new' %>
  </div>

  <!-- phoneの場合-->

  <div class="signup-phone">
    <%= render 'customer/users/Phone/new' %>
  </div> 

</div>
