<% provide(:title, 'Sign up') %>
<% provide(:class_text, 'signup') %>
<% provide(:button_text, '新規作成') %>

<div class="new_signup">
  <h1>新規登録</h1>

  <!-- pcの場合-->
  <div class="items-pc">
      <%= render 'customer/users/PC/new' %>
  </div>

</div>
