<div class="container">
  <div class="row">
    <div class="col-md-12 p-3">
    <!--ボタンエリア-->
      <table class="w-100">
        <tbody>
          <tr>
            <td class="w=50"><%= link_to '商品追加', new_employee_product_path,  class: "btn btn-primary btn-block" %></td>
            <td class="w-50"><%= link_to '編集', "#",  class: "btn btn-primary btn-block" %></td>
          </tr>
        </tbody>
      </table>
     <!--/ボタンエリア-->


    </div>
  </div>
</div>