// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top_page{
  .center{
    text-align: center;
  }
  .top_items{
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding: auto;
    background-color: mediumblue;
  }
  .item_box{
    width: 32%;
    height: 100px;
    margin: auto;
    background-color:greenyellow;
    border: medium solid #ff00ff;
    display: inline-block;
  }
}