//*********スマホ切替対応*********//
.top_show_phone{
  display: none;
}

@media screen and (max-width:767px){
  .top_show_pc{
    display: none;
  }
  .top_show_phone{
    display: block;    
  }
  .top-items-phone{
    margin-top: 80px;
    img{
      width: 220px; 
      height: 150px;
      object-fit: cover;
      clear: both;
      margin-left: auto;
      margin-right: auto;
    }
    .phone-title {
      font-size: 6vw;
    }
    .soldout{
      position: relative;/*相対配置*/
      img{
        opacity : 0.4;
      }
      .p_red{
        position: absolute;/*絶対配置*/
        color: red;/*赤*/
        font-weight: bold;
        font-size: 1em;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
      }
    }  
    .pagi_nate{
      margin:auto;
      ul {
        margin-top: 10px;
        justify-content: center;
      }
    }
  }
}
//******************************//

.top_page{
  margin: auto;
  .top_show_pc{
    width: 90%;
    margin: auto;
    .pagi_nate{
      margin:auto;
      ul {
        margin-top: 10px;
        justify-content: center;
      }
    }
    .top_items{
      margin: auto;
      margin-top: 20px;
      text-align: center;
      padding: auto;
      background-color: #b0c4de;
      table{
        width: 32%;
        text-align: center;
      }
    }
    .item_box{
      width: 32%;
      margin: auto;
      padding: 0px 10px 0px 10px;
      margin-bottom: 15px;
      display: inline-block;
      text-align: center;
        img{
          width: 390px; 
          height: 300px;
          object-fit: cover;
          clear: both;
          margin: 0 auto;
          vertical-align: middle;
        }
        a{
          color: #343a40;
        }
        .soldout{
          position: relative;/*相対配置*/
          img{
            opacity : 0.4;
          }
          p {
            position: absolute;/*絶対配置*/
            color: red;/*赤*/
            font-weight: bold;
            font-size: 2em;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            margin:0;
            padding:0;
          }
        }  
    }
  }
}