// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//****************************** TOP画面 ******************************//
//*********スマホ切替対応*********//
.top_show_phone{
  display: none;
}

@media screen and (max-width:767px){

}
//******************************//
.top_page{
  .center{
    text-align: center;
  }
  .top_items{
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding: auto;
    background-color: rgb(145, 145, 197);
    table{
      width: 32%;
    }
  }
  .item_box{
    width: 30px;
    height: 100px;
    margin: auto;
    background-color:greenyellow;
    border: 1px solid #ff00ff;
    display: inline-block;
    }
}
