  <div class="row">
    <div class="col-md-8 offset-2">
    
      <h1 class="center">注文を確定しました。</h1>
      <div class="ordershow">
        <h2>お受け取り日：<%= l(@sOrder.order_date, format: :long) %></h2>
        <h2>お受け取り時間：<%= l(@sOrder.order_time, format: :tim) %></h2>
        <h2>金額：<%= @sOrder.total %>円</h2>
      </div>

      
      <div class="col-md-8 offset-2"> 
        <p class="order_com">ご注文のお品をお受け取りの際は、必ずお名前をお知らせください。<br>
          受け取り予定時間に間に合わない場合は、店舗までご連絡ください。<br>
          閉店時間までにお受け取りがない場合はキャンセルとなりますので、ご了承下さい。
        </p>
      </div>
      <div class="center">
        <%= link_to "お買い物を続ける", top_show_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>