<%= provide(:title, '新規商品登録') %>

<div class="text-center font-weight-bold mb-3">
    <h1><%="#{@item.name}編集" %></h1>
</div>
 <!-- pcの場合-->
<div class="items-pc">
 <%= render 'employee/items/PC/form', {item: @item } %>
</div>

<!-- phoneの場合-->
<div class="items-phone">
 <%= render 'employee/items/Phone/form', {item: @item} %>
</div>
