<%= provide(:title, '商品一覧') %>
<div class="text-center font-weight-bold mt-4"><h1>商品一覧</h1></div>

<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1">
    
      <!-- pcの場合-->
      <div class="items-pc">
         <%= render 'employee/items/PC/index', {items: @items} %>
      </div>

       <!-- phoneの場合-->
       <div class="items-phone">
         <%= render 'employee/items/Phone/index', {items: @items} %>
      </div>
    
    </div>
  </div>
</div>